
<body>
   <div style="background-color:  #b33c00;">


   <div class="container">
      <div class="jumbotron">
         <h1 style="text-align: center;">INSPIRATIONAL QUOTES</h1>
      </div>

      <div class="row">
      <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
      </div>

   </div>
   <ul>
      <div  *ngFor='let quote of quotes; let i = index'>
         <div class="col-md-9">
            <li class="bg-info">{{quote.name}}</li>
         </div>

         <button class="btn btn-success"(click)=toggleDetails(i)>Toggle Details</button>
         <app-quote-details *ngIf='quote.showAuthorName' [quote] = 'quote' (isRead) = 'deleteQuote($event,i)'  ></app-quote-details>

      </div>

   </ul>
   </div>
</body>
